body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

/* Heading */
h1 {
  text-align: center;
}

/* Flexbox */
.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  background: lightblue;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

/* Image inside card */
.card-img {
  width: 100px;
  border-radius: 10px;
}

/* Profile image */
.profile {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 3px solid black;
}

/* Form */
form {
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

button:hover {
  background: gray;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  nav {
    flex-direction: column;
  }
}